.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mapContainer {
  width: 400px;
  height: 400px;
  margin-top: 20px;
  
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}