.container {
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
  align-items: center;
  background-color: rgb(236, 236, 236);
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  margin: 20px;
  gap: 20px;
}

.profileSection {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.profileImage {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.settingsSection {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  
}

.settingsList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.settingItem {
  font-family: 'Plus Jakarta Sans', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ordersSection {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.logoutSection {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}