.profileHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #81b81bd0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}