.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f8f8f8;
}

/* Main content */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
}


.farmGrid {
  width: 80%;
  display: grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 1.5rem;
}

@media screen and (max-width: 768px) {
  .farmGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
